@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: mediumpurple;
    font-family: 'Open sans', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile {
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    height: 600px;
    width: 340px;
}
.mobile .content {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 100%;
    transition: opacity 0.5s ease;
}

.mobile .content.show {
    opacity: 1;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}

nav ul {
    background-color: #fff;
    display: flex;
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 0;
}

nav li {
    color: #666;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}
nav ul li p {
    font-size: 12px;
    margin: 2px 0;
}

nav ul li:hover,
nav ul li.active {
    color: rgb(125, 84, 205);
}
